<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Registro de empleados</title>
</head>
<body>
    <section class="container">
        <h1>Registro de empleados</h1>

        <form action="/guardar" method="get">
            <div class="row">
                <div class="col-4">
                    <label for="txt-nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre">
                </div>
                <div class="col-4">
                    <label for="select-tipo-empleado">Tipo de empleado</label>
                    <select name="tipoEmpleadoId" class="form-control">
                        <option value="1">Practicante</option>
                        <option value="2">Contrato indefinido</option>
                        <option value="3">Honorario Profesionales</option>
                    </select>
                </div>
                <div class="col-4">
                    <button class="btn btn-success mt-4">Registrar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-3">
                    <a href="/" class="btn btn-primary">Menú</a>
                </div>
            </div>
        </form>
    </section>

    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery.min.js"></script>
</body>
</html>